@font-face {
    font-family: "Nunito";
    src:         url("../_assets/other_fonts/Nunito.woff2") format("woff2");
}

@font-face {
    font-family: "Raleway";
    src:         url("../_assets/other_fonts/Raleway.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    src:         url("../_assets/other_fonts/Montserrat.ttf") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src:         url("../_assets/other_fonts/JetBrainsMono.woff2") format("woff2");
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --background-color: white;
    --outline-color:    black;
    --text-color:       black;

    background-color:   var(--background-color);
    color:              var(--text-color);

    text-align:         justify;
    font-family:        KaTeX_Main, Times New Roman, serif;
    font-size:          14pt;
    line-height:        1.2;
}

input {
    font:       inherit;
    padding:    4px;
    outline:    1px solid var(--outline-color);
    border:     0;
    background: none;
    width:      100%;
}

button {
    outline:       none;
    border:        1px solid var(--outline-color);
    border-radius: 0;
    font:          inherit;
}

textarea {
    font:       inherit;
    color:      inherit;
    outline:    1px solid var(--outline-color);
    border:     0;
    background: none;
}

.katex {
    font-size: 1em !important;
}

.tex {
    white-space: nowrap;
}

.katex-display {
    margin: 0 !important;
}

.tex.math[data-error] {
    color:       red;
    text-align:  center;
    white-space: wrap;
}

.ReactModalPortal {
    position: absolute;
    z-index:  1000000000;
}