main {
    position: absolute;
    top:      0;
    left:     0;
    width:    100vw;
    height:   100vh;
    margin:   0;
    padding:  0;
    overflow: hidden;
    display:  flex;
}

main > div {
    outline:        2px solid var(--outline-color);
    outline-offset: -1px;
}

main > div {
    min-width:   50%;
    flex-shrink: 0;
    flex-grow:   1;

    padding:     10px;
}

#selected-topic > div {
    flex-basis: 0;
    flex-grow:  1;
    padding:    10px;
}

.topic-v {
    padding: 4px;
}

#topics-list > .topic-v.active {
    outline: 1px solid var(--outline-color);
}

.topic-item {
    position: relative;
    margin: 0 3px;
    z-index:  0;
}

.topic-v {
    position: relative;
}

.topic-item[data-active] {
    outline: 1px solid var(--outline-color);
    outline-offset: 4px;
}

.topic-v:not(.active)>.delete-button {
    display: none;
}

.topic-v>.delete-button {
    position: absolute;
    top:      4px;
    right:    3px;
}

/* Uncomment this to enable indentation on paragraphs */
/*.paragraph-item::before {*/
/*    display: inline-block;*/
/*    width: 2em;*/
/*    content: "";*/
/*}*/


#selected-topic > #selected-topic-editor {
    min-height:  50vh;
    flex-grow:   0;
    flex-shrink: 0;
    flex-basis:  50vh;
}

div:has(>.topic-item-insert-modal-body) {
    height:          100%;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.topic-item-insert-modal-body {
    outline:    1px solid var(--outline-color);
    background: var(--background-color);
    width:      fit-content;
    height:     fit-content;
    padding:    10px;
}

#selected-topic-top > #selected-topic-top-buttons {
    position: absolute;
    display:  flex;
    top:      10px;
    right:    10px;
}


#editor-middle {
    margin:    0 -5px;
    min-width: 10px;
    width:     10px;
    max-width: 10px;
    flex:      0;
    padding:   0;
    outline:   none;
    z-index:   1;
    position:  relative;
}

#editor-middle:hover::before {
    content:    "";
    display:    block;
    margin:     0 3px;
    width:      4px;
    height:     100%;
    background: #48f;
}